# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular Data Science tools
- Example of arithmetic expressions with Python
- Example of use of arithmetic expressions with Python (convert minutes to hours)

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. C++
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. ggplot
3. Pytorch
4. Tensorflow
5. Matplotlib
6. Keras
7. SciPy

| Data Science Tools |
|--------------------|
| Juptyter Notebooks |
| Google Colab |
| R/R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes//60
print(f"There are {hours} hours in {minutes} minutes")

There are 3 hours in 200 minutes

## Author 
Diego Emanuel Saucedo Ortega